
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>İmge Yapım Admin Paneli</title>

    <!-- Bootstrap core CSS-->
    <link href="~/Content/Admin/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- Custom fonts for this template-->
    <link href="/content/admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="/content/admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/content/admin/css/sb-admin.css" rel="stylesheet">
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="/Admin/Index/">Admin Anasayfa</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                    <a class="nav-link" href="/Home/Index/">
                        <i class="fa fa-fw fa-home"></i>
                        <span class="nav-link-text">AnaSayfa</span>
                    </a>
                </li>


                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                    <a class="nav-link" href="/Admin/Artist/">
                        <i class="fa fa-fw fa-table"></i>
                        <span class="nav-link-text">Sanatçılar</span>
                    </a>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                    <a class="nav-link" href="/Admin/Crew/">
                        <i class="fa fa-fw fa-comments"></i>
                        <span class="nav-link-text">Ekip</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                    <a class="nav-link" href="/Admin/Slider/">
                        <i class="fa fa-fw fa-picture-o"></i>
                        <span class="nav-link-text">Slider</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                    <a class="nav-link" href="/Admin/Product/">
                        <i class="fa fa-fw fa-product-hunt"></i>
                        <span class="nav-link-text">Yapım</span>
                    </a>
                </li>

            </ul>

        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            @RenderBody()
        </div>

        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © 2018</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">

            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        <script src="~/Content/www/js/jquery-1.11.1.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.10.0.js"></script>
        <script src="~/Scripts/i18n/grid.locale-tr.js"></script>
        <script src="~/Scripts/jquery.jqGrid.min.js"></script>
        @*<script src="/content/admin/vendor/jquery/jquery.min.js"></script>*@
        <script src="/content/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="/content/admin/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="/content/admin/vendor/chart.js/Chart.min.js"></script>
        <script src="/content/admin/vendor/datatables/jquery.dataTables.js"></script>
        <script src="/content/admin/vendor/datatables/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="/content/admin/js/sb-admin.min.js"></script>
        <!-- Custom scripts for this page-->
        <script src="/content/admin/js/sb-admin-datatables.min.js"></script>
        <script src="/content/admin/js/sb-admin-charts.min.js"></script>
        <script>

            $(function () {
                debugger;
                $("#Demogrid").jqGrid
                    ({
                       
                        url: "/Json/GetCustomers",
                        datatype: 'json',
                        mtype: 'Get',
                        //table header name
                        colNames: ['ID', 'Order', 'Name',
                            'Picture'],
                        //colModel takes the data from controller and binds to grid
                        colModel: [
                            { name: "ArtistID", width: 50 },
                            { name: "ArtistOrder", width: 50 },
                            { name: "ArtistName", width: 150 },
                            { name: 'ArtistPicture',width: 750, align: "center", editable: true, formatter: imageFormat, resizable: true },

                        ],
                        height: 'auto',
                        rowNum: 10,
                        viewrecords: true,
                        caption: 'Sanatçılar',
                        emptyrecords: 'No records',
                        jsonReader:
                            {
                                root: "rows",
                                page: "page",
                                total: "total",
                                records: "records",
                                repeatitems: false,
                                Id: "0"
                            },
                        autowidth: false,
                        
                    });

                function imageFormat(cellvalue, options, rowObject) {
                    var orko = cellvalue;
                    
                    return '<img src="' + orko + '" />';

                }
               
            });
             


        </script>


    </div>
</body>
</html>
