@*<section class="page-section bg-gray-lighter" id="hakkimizda">*@
<div class="section" id="hakkimizda">
    <div class="container relative">

        @foreach (var item in ViewBag.Product)
        {
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                    <div class="section-title">
                        @item.ProductName<span class="st-point">.</span>
                    </div>

                    <div class="section-line mb-60 mb-xxs-30"></div>
                    <h2 class="section-heading"></h2>

                </div>

            </div>

            @Html.Raw(item.ProductAbout)


        }
    </div>

</div>
    @*</section>*@
