


@*<section class="page-section bg-gray-lighter" id="etkinlik">*@
<div class="section" id="etkinlik">
    <div class="relative">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                    <div class="section-title">
                        Etkinlik Takvimi<span class="st-point">.</span>
                    </div>
                    <h2 class="section-heading">Sanatçılarımızın yıl içindeki etkinliklerini takvimden takip edebilirsiniz</h2>
                    <div class="section-line mb-60 mb-xxs-30"></div>
                </div>
            </div>
            <!-- Section Headings -->
            <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                <div id='calendar'></div>

            </div>

        </div>
    </div>
</div>
@*</section>*@